mixin font(title, classFont)
    h2(class=classFont)=title
    each val in [96, 72, 60, 48, 36]
        p(class=classFont class='size'+val class='samplebox')=val
            span The five boxing wizards

mixin FontsPTSans()
    +font('PT Sans Regular','PTSans Regular')
    +font('PT Sans Bold','PTSans Bold')
    +font('PT Sans Bold Italic','PTSans BoldItalic')
    +font('PT Sans Caption Regular','PTSans CaptionRegular')
    +font('PT Sans Caption Bold','PTSans CaptionBold')
    +font('PT Sans Narrow Regular','PTSans NarrowRegular')
    +font('PT Sans Narrow Bold','PTSans NarrowBold')

section.font
    .wrapper
        +FontsPTSans