extends templates/template

block title
	title Заголовок страницы
block append style
block content
	include modules/header-module
	.wrapper
		h1 Заголовок
		p Текст абзаца
		a(href="font-demo/font-demo.html") font-demo
block append script